* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 530px;
  height: 530px;
  border: solid 1px gray;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  height: 72px;
  padding: 16px, 0px;
}
.score {
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: space-between;
}
.score button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 0.2px#838383;
  background-color: white;
  font-weight: 700;
  font-size: 20px;
}
.score p {
  font-weight: 700;
  font-size: 20px;
}
.resetBtn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.resetBtn button {
  width: 120px;
  height: 56px;
  background-color: #14b166;
  border-radius: 8px;
  border: none;
}
/* sdknslknflkwfnwekf */
.test {
  background-color: aquamarine;
}
